[Unit]
Description=A utility Discord bot to help game masters run role-playing games
After=network.target mysql.service

[Service]
User=bot-rpg
WorkingDirectory=/home/bot-rpg/bot-rpg
ExecStart=/usr/bin/python3 -m src.main
Restart=on-failure

[Install]
WantedBy=multi-user.target